In [1]:
import numpy as np

In [2]:
np.random.rand(3,2)

array([[0.1039086 , 0.39441262],
       [0.98705812, 0.25412161],
       [0.88424151, 0.41917792]])

In [3]:
np.random.randn(3,2)

array([[-0.26985137,  0.44525814],
       [-0.53917658,  0.67184958],
       [ 0.11374398,  0.76921284]])

In [4]:
np.random.randint(34,100)

81

In [5]:
np.random.randint(20,56,100)

array([30, 22, 54, 33, 39, 51, 31, 34, 39, 23, 42, 28, 52, 20, 50, 25, 40,
       25, 37, 50, 26, 53, 40, 21, 38, 34, 43, 42, 50, 52, 34, 44, 55, 38,
       42, 22, 21, 43, 33, 47, 55, 36, 51, 27, 50, 32, 40, 27, 28, 35, 53,
       40, 39, 24, 32, 51, 52, 44, 21, 40, 32, 55, 47, 47, 50, 55, 36, 25,
       23, 30, 31, 54, 48, 36, 42, 50, 30, 34, 42, 21, 38, 26, 31, 32, 38,
       32, 21, 22, 47, 48, 46, 25, 52, 27, 38, 52, 54, 34, 23, 44])

In [6]:
sample_array=np.arange(30)
sample_array

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29])

In [7]:
rand_array=np.random.randint(0,100,20)
rand_array

array([ 1, 96, 22, 85, 48, 66, 44, 81, 21, 75, 19, 51, 38, 77, 90,  4, 23,
       66, 74, 73])

In [8]:
sample_array.reshape(5,6)

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29]])

In [9]:
sample_array.reshape(3,7)

ValueError: cannot reshape array of size 30 into shape (3,7)

In [11]:
rand_array.min()

1

In [12]:
rand_array.argmin()

0

In [13]:
sample_array.dtype

dtype('int32')

In [14]:
a=np.eye(5)
a

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [15]:
a.T

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [17]:
a=np.random.rand(2,3)
a

array([[0.39587357, 0.80038009, 0.04117201],
       [0.84594671, 0.13953435, 0.42292538]])

In [18]:
a.T

array([[0.39587357, 0.84594671],
       [0.80038009, 0.13953435],
       [0.04117201, 0.42292538]])

In [19]:
sample_array=np.arange(10,21)
sample_array

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

In [20]:
sample_array[3]

13

In [21]:
sample_array[3:7]

array([13, 14, 15, 16])

In [22]:
sample_array[1:4]=100
sample_array

array([ 10, 100, 100, 100,  14,  15,  16,  17,  18,  19,  20])

In [23]:
sample_array=np.arange(10,21)
sample_array

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20])

In [24]:
sample_array[0:7]

array([10, 11, 12, 13, 14, 15, 16])

In [25]:
subset_sample_array=sample_array[0:7]
subset_sample_array

array([10, 11, 12, 13, 14, 15, 16])

In [26]:
subset_sample_array[1:4]=1001
subset_sample_array

array([  10, 1001, 1001, 1001,   14,   15,   16])

In [27]:
subset_sample_array[:]=1001
subset_sample_array

array([1001, 1001, 1001, 1001, 1001, 1001, 1001])

Two dimentional array

In [28]:
sample_matrix=np.array(([10,20,30,40],[11,22,33,44],[12,23,34,45]))
sample_matrix

array([[10, 20, 30, 40],
       [11, 22, 33, 44],
       [12, 23, 34, 45]])

In [29]:
sample_matrix[0][2]

30

In [30]:
sample_matrix[2,:]

array([12, 23, 34, 45])

In [31]:
sample_matrix[2]

array([12, 23, 34, 45])

In [32]:
sample_matrix[:,(3,2)]

array([[40, 30],
       [44, 33],
       [45, 34]])

Selection techniques

In [33]:
import pandas as pd
import numpy as np

In [37]:
labels=['w','x','y','z']
sample_list=[100,200,300,400]
array=np.array([10,20,30,40])
dict={'w':11,'x':22,'y':33,'z':44}

In [38]:
pd.Series(data=sample_list)

0    100
1    200
2    300
3    400
dtype: int64

In [39]:
pd.Series(data=sample_list,index=labels)

w    100
x    200
y    300
z    400
dtype: int64

In [40]:
pd.Series(sample_list,labels)

w    100
x    200
y    300
z    400
dtype: int64

In [41]:
pd.Series(dict)

w    11
x    22
y    33
z    44
dtype: int64

Pandas

Pandas dataframe and indexing

In [45]:
sports1=pd.Series([1,2,3,4],index=['cricket','football','basketball','golf'])
sports1

cricket       1
football      2
basketball    3
golf          4
dtype: int64

In [48]:
sports1['cricket']

1

In [49]:
sports2=pd.Series([11,2,3,4],index=['cricket','football','baseball','golf'])
sports2

cricket     11
football     2
baseball     3
golf         4
dtype: int64

In [50]:
sports1+sports2

baseball       NaN
basketball     NaN
cricket       12.0
football       4.0
golf           8.0
dtype: float64

In [54]:
df1=pd.DataFrame(np.random.rand(8,5),index='A B C D E F G H'.split(),columns='Score1 Score2 Score3 Score4 Score5'.split())
df1

     Score1    Score2    Score3    Score4    Score5
A  0.149421  0.109985  0.470859  0.198883  0.438246
B  0.811760  0.253290  0.372009  0.904277  0.736025
C  0.599926  0.645295  0.181435  0.304677  0.629870
D  0.571866  0.977666  0.575462  0.904529  0.083466
E  0.407339  0.208409  0.225277  0.694333  0.671705
F  0.264690  0.793503  0.758218  0.918041  0.469499
G  0.204269  0.859066  0.816448  0.645586  0.818887
H  0.503987  0.665456  0.606960  0.245650  0.359787

In [55]:
df1["Score3"]

A    0.470859
B    0.372009
C    0.181435
D    0.575462
E    0.225277
F    0.758218
G    0.816448
H    0.606960
Name: Score3, dtype: float64

In [58]:
df1[["Score1","Score2","Score3"]]

     Score1    Score2    Score3
A  0.149421  0.109985  0.470859
B  0.811760  0.253290  0.372009
C  0.599926  0.645295  0.181435
D  0.571866  0.977666  0.575462
E  0.407339  0.208409  0.225277
F  0.264690  0.793503  0.758218
G  0.204269  0.859066  0.816448
H  0.503987  0.665456  0.606960

In [60]:
df1['Score6']=df1['Score1']+df1['Score2']
df1

     Score1    Score2    Score3    Score4    Score5    Score6
A  0.149421  0.109985  0.470859  0.198883  0.438246  0.259406
B  0.811760  0.253290  0.372009  0.904277  0.736025  1.065050
C  0.599926  0.645295  0.181435  0.304677  0.629870  1.245221
D  0.571866  0.977666  0.575462  0.904529  0.083466  1.549532
E  0.407339  0.208409  0.225277  0.694333  0.671705  0.615748
F  0.264690  0.793503  0.758218  0.918041  0.469499  1.058193
G  0.204269  0.859066  0.816448  0.645586  0.818887  1.063335
H  0.503987  0.665456  0.606960  0.245650  0.359787  1.169443

In [63]:
df2={'ID':['101','102','103','107','176'],'Name':['John','Mercy','Akash','Kevin','Lally'],'Profit':[20,54,56,87,123]}
df=pd.DataFrame(df2)
df

    ID   Name  Profit
0  101   John      20
1  102  Mercy      54
2  103  Akash      56
3  107  Kevin      87
4  176  Lally     123

In [64]:
df["ID"]

0    101
1    102
2    103
3    107
4    176
Name: ID, dtype: object

In [66]:
df[["ID","Name"]]

    ID   Name
0  101   John
1  102  Mercy
2  103  Akash
3  107  Kevin
4  176  Lally

In [67]:
df.drop("ID",axis=1)

    Name  Profit
0   John      20
1  Mercy      54
2  Akash      56
3  Kevin      87
4  Lally     123

In [68]:
df.drop(3)

    ID   Name  Profit
0  101   John      20
1  102  Mercy      54
2  103  Akash      56
4  176  Lally     123